header h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  color: white;
  font-size: 40px;
}

#gap {
  height: 90px;
}

#gap_2 {
  height: 30px;
}

.register_box {
  height: 460px;
  width: 450px;
  border: 1px solid #80e5ff;
  border-radius: 10px;
  margin: auto;
}

.user {
  border: 1px solid #bdbdbd;
  height: 38px;
  width: 304px;
  position: relative;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.user {
  border-radius: 10px;
}

.user_font {
  line-height: 18px;
  height: 18px;
  border: 0;
  padding: 10px 0 10px 50px;
  width: 254px;
  float: none;
  overflow: hidden;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 9.5px;
}

input::-webkit-input-placeholder {
  color: black;
  font-size: 14px;
}


label {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 38px;
  height: 38px;
  line-height: 38px;
  border-right: 1px solid #e1dfe1;
  background-position-x: 0 -48px;
  border-radius: 9.5px;
  background-color: #d6d6d6;
  text-align: center;
}

.user label span {

  font-size: 30px;
}

.user label span:nth-child(2),
.user label span:nth-child(3),
.user label span:nth-child(4),
.user label span:nth-child(5) {
  fill: #fff;
}

#password_icon {
  background-position: -48px -48px;
}

input {
  outline: none;
}

.forget .forget_txt {
  font-size: small;
  right: 0;
  margin-left: 360px;
  top: 0;
}

#password {
  padding-top: 10px;
}

#reg_button {
  padding-top: 15px;
  margin: 0 auto;
  width: 300px;
}

.register_button {
  width: 110px;
  margin-left: 10px;
}

.button {
  height: 30px;
  line-height: 30px;
  width: 110px;
  margin: 0 0 5px 10px;
}

a {
  color: white;
  text-decoration: none;
}

h2 {
  text-align: center;
  color: white;
}

div {
  display: block;
}

body {
  background: url('../IMG/background.jpg');
  background-size: cover;
}